﻿.ohHide {
    display: none !important;
}

.sidebar .logo a.logo-normal {
    text-align: center;
}

input#btnLogin:focus, input#btnLogin:hover {
    color: white;
    background-color: #e91e63;
}


/*scroll bar */

/* width */
::-webkit-scrollbar {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1.5px grey;
    border-radius: 3px;
    background: #EEEEEE;
}

::-webkit-scrollbar-button {
    background-color: black;
    color: white;
    display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #C9C9C9;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #B5B5B5;
    }

/*end scroll bar*/


/*start table design*/

.table {
    /*word-break: break-word;*/
    width: 100%;
}

.dataTables_wrapper {
    width: 100%;
    padding: 5%;
}

    .dataTables_wrapper .row:nth-child(2) {
        overflow: auto;
        /*width: 100%;*/
    }

#salesTable thead tr th::after, #salesTable thead tr th::before {
    display: none;
}

th.text-center {
    width: 25%;
    max-width: 50%;
    min-width: 150px;
    font-size: 0.8rem;
}

.dataTables_info {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap !important;
}

ul.pagination {
    flex-flow: wrap;
}

span.bmd-form-group.bmd-form-group-sm {
    display: block;
}

body .dataTables_wrapper .row:nth-child(1) {
    width: 70vw;
    margin-left: 2%;
}

body .dataTables_wrapper .row:nth-child(2) {
    overflow: auto;
    margin: 25px;
}

/*end table design*/
