@charset "utf-8";

@media (max-width: 1200px) {
	.renex_leftpart{display: none;}
	.renex_rightpart{padding-left: 0px;}
	.renex_hero_wrap{left: 0px;}
	.renex_about .left{display: none;}
	.renex_about .rightpart{padding-left: 0px;width: 100%;}
}

@media (max-width: 1040px) {
	.renex_portfolio .portfolio_list ul li{width: 50%;}
	.renex_resume .resume_list ul li{width: 50%;}
	.renex_skills_wrap .skills_inner{flex-direction: column;}
	.renex_skills_wrap .skills_inner .left{width: 100%;padding-right: 0px;margin-bottom: 25px;}
	.renex_skills_wrap .skills_inner .right{padding-left: 0px;width: 100%;}
	.renex_team .team_list ul li{width: 50%;}
	.renex_pricing .pricing_list > ul > li{width: 50%;}
	.renex_contact .contact_inner{flex-direction: column;}
	.renex_contact .contact_inner .left{width: 100%;margin-bottom: 25px;}
	.renex_contact .contact_inner .right{width: 100%;}
	.renex_intro_inner > ul > li{width: 50%;}
	.renex_intro_inner .features ul li{width: 50%;}
}
@media (max-width: 768px) {
	.renex_hero_wrap .hero_texts h3{font-size: 40px;}
	.renex_title_holder h3{font-size: 27px;}
	.renex_about .rightpart .about_title p{font-size: 27px;}
	.renex_about .rightpart .info_list ul li{width: 100%;}
	.renex_resume .resume_list ul li{width: 100%;padding-left: 0px;}
	.renex_resume .resume_list ul{margin: 0px;}
	.renex_portfolio .portfolio_list ul{margin: 0px;}
	.renex_portfolio .portfolio_list ul li{width: 100%;padding-left: 0px;}
	.renex_team .team_list ul{margin: 0px;}
	.renex_team .team_list ul li{width: 100%;padding-left: 0px;}
	.renex_pricing .pricing_list > ul{margin: 0px;}
	.renex_pricing .pricing_list > ul > li{width: 100%;padding-left: 0px;}
	.renex_contact .contact_inner .right .first_row ul li{width: 100%;padding-left: 0px;}
	.renex_contact .contact_inner .right .first_row ul{margin: 0px;}
	.renex_footer .footer_inner{flex-direction: column;}
	.renex_intro_inner > ul{margin: 0px;}
	.renex_intro_inner > ul > li{width: 100%;padding-left: 0px;}
	.renex_intro_inner .features ul li{width: 100%;padding-left: 0px;}
	.renex_intro_inner .features ul{margin: 0px;}
	.renex_intro_inner{padding-left: 20px;padding-right: 20px;}
	.renex_footer.intro{padding-left: 20px;padding-right: 20px;}
}
@media (max-width: 480px) {
	.renex_hero_wrap .hero_texts h3{font-size: 35px;}
}