﻿@charset "utf-8";

/* -------------------------------------------------------------------

[Table of contents]

01. Intro
02. TopBar
03. Hero
04. About
05. Services
06. Portfolio
07. Resume
08. Skills
09. Team
10. Pricing
11. News
12. Contact
13. Footer

------------------------------------------------------------------- */

/*** 01. Intro ***/
html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #222;
}

.renex_loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #030303;
    z-index: 11111111;
}

    .renex_loader-wrapper .loader {
        height: 1px;
        background-color: #fff;
        z-index: 11111111;
        position: absolute;
    }

.renex_section {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    z-index: 10;
}

.renex_leftpart {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    /*left: 0px;
	bottom: 0px;*/
    background-color: #030303;
    z-index: 15
}

    .renex_leftpart .inner {
        width: 100%;
        height: 100%;
        display: inline-flex;
    }

        .renex_leftpart .inner .logo {
            float: left;
            height: 60px;
            width: 20%;
            margin: 20px;
        }

            .renex_leftpart .inner .logo img {
                max-width: 200px;
                max-height: 60px;
            }

        .renex_leftpart .inner .menu {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
        }

            .renex_leftpart .inner .menu ul {
                margin: 0px;
                list-style-type: none;
                width: 100%;
            }

            .renex_leftpart .inner .menu ul {
                display: flex;
            }

                .renex_leftpart .inner .menu ul li {
                    margin: 0px 3%;
                }

                    .renex_leftpart .inner .menu ul li a {
                        text-decoration: none;
                        color: #c7c7c7;
                        font-family: "Saira";
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: larger;
                        display: block;
                        position: relative;
                        padding: 10px 0px;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }

                        .renex_leftpart .inner .menu ul li a:hover {
                            color: #fff;
                        }

                        .renex_leftpart .inner .menu ul li a:before {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 2px;
                            background-color: rgba(255,255,255,.04);
                            left: 0px;
                            bottom: 0px;
                        }

                    .renex_leftpart .inner .menu ul li:last-child a:before {
                        display: none;
                    }

                    .renex_leftpart .inner .menu ul li a:after {
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 2px;
                        background-color: rgba(255,255,255,.08);
                        left: 0px;
                        bottom: 0px;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }

                    .renex_leftpart .inner .menu ul li:last-child a:after {
                        display: none;
                    }

                    .renex_leftpart .inner .menu ul li a:hover:after {
                        width: 100%;
                    }

        .renex_leftpart .inner .bottom {
            position: absolute;
            bottom: 63px;
            left: 60px;
        }

.renex_music .sound_condition {
    width: 80px;
    font-weight: 600;
    font-size: 13px;
    line-height: 38px;
    height: 27px;
    color: #fff;
}

.audio-on .renex_music .sound_condition .off,
.audio-off .renex_music .sound_condition .on {
    display: none;
}

.renex_music {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .renex_music .visualization {
        display: flex;
        align-items: flex-end;
        padding-bottom: 1px;
        width: 16px;
        height: 21px;
    }

        .renex_music .visualization span {
            display: inline-flex;
            background: #fff;
            margin: 0px 1px 0px 1px;
            width: 2px;
            height: 5px;
        }

.audio-on .renex_music .visualization span:nth-child(1) {
    -moz-animation: musicline 2s 0.5s ease-out alternate infinite;
    -webkit-animation: musicline 2s 0.5s ease-out alternate infinite;
    animation: musicline 2s 0.5s ease-out alternate infinite;
}

.audio-on .renex_music .visualization span:nth-child(2) {
    -moz-animation: musicline 2s 1s ease-out alternate infinite;
    -webkit-animation: musicline 2s 1s ease-out alternate infinite;
    animation: musicline 2s 1s ease-out alternate infinite;
}

.audio-on .renex_music .visualization span:nth-child(3) {
    -moz-animation: musicline 2s 1.5s ease-out alternate infinite;
    -webkit-animation: musicline 2s 1.5s ease-out alternate infinite;
    animation: musicline 2s 1.5s ease-out alternate infinite;
}

.audio-on .renex_music .visualization span:nth-child(4) {
    -moz-animation: musicline 2s 0.25s ease-out alternate infinite;
    -webkit-animation: musicline 2s 0.25s ease-out alternate infinite;
    animation: musicline 2s 0.25s ease-out alternate infinite;
}

@keyframes musicline {
    0% {
        height: 5px
    }

    10% {
        height: 10px
    }

    20% {
        height: 5px
    }

    30% {
        height: 14px
    }

    40% {
        height: 18px
    }

    50% {
        height: 5px
    }

    60% {
        height: 16px
    }

    70% {
        height: 10px
    }

    80% {
        height: 12px
    }

    90% {
        height: 4px
    }

    100% {
        height: 18px
    }
}

.renex_leftpart .inner .bottom ul {
    margin: 0px;
    list-style-type: none;
    position: relative;
    left: -5px;
}

    .renex_leftpart .inner .bottom ul li {
        margin: 0px 8px 0px 0px;
        float: left;
    }

        .renex_leftpart .inner .bottom ul li a {
            text-decoration: none;
            color: #fff;
            transition: all .3s ease;
        }

            .renex_leftpart .inner .bottom ul li a:hover {
                color: #ff214f;
            }

.renex_rightpart {
    width: 100%;
    height: auto;
    /*clear: both;
	float: left;
	position: relative;
	padding-left: 370px;*/
}

    .renex_rightpart .top_border {
        width: 100%;
        height: 40px;
        background-color: #171717;
        position: fixed;
        top: 0px;
        z-index: 20;
    }

    .renex_rightpart .bottom_border {
        width: 100%;
        height: 40px;
        background-color: #121212;
        position: fixed;
        bottom: 0px;
        z-index: 20;
    }

    .renex_rightpart .rightpart_inner {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        position: relative;
    }

/*** 03. Hero ***/

.renex_section.top {
    z-index: 21;
}



    .renex_section.top.closed {
        z-index: -21;
    }

.renex_hero_wrap {
    left: 0;
    right: 0px;
    position: fixed;
    transform: scale(1);
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .renex_hero_wrap .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(255,255,255,.5);
        z-index: 1;
    }

    .renex_hero_wrap .container {
        height: 100%;
    }

    .renex_hero_wrap .hero_texts {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        padding: 0px 20px;
    }

        .renex_hero_wrap .hero_texts .hero_image {
            position: relative;
            width: 100%;
            max-width: 180px;
            margin: 0px auto;
            height: 180px;
            margin-bottom: 45px;
        }

            .renex_hero_wrap .hero_texts .hero_image:before {
                position: absolute;
                content: "";
                top: -10px;
                bottom: -10px;
                left: -10px;
                right: -10px;
                background-color: rgba(255,255,255,.05);
                border-radius: 100%;
            }

            .renex_hero_wrap .hero_texts .hero_image img {
                min-width: 100%;
                border-radius: 100%;
            }

            .renex_hero_wrap .hero_texts .hero_image .image {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 100%;
            }

        .renex_hero_wrap .hero_texts h3 {
            color: #fff;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 15px;
            position: relative;
            line-height: 1;
        }

        .renex_hero_wrap .hero_texts .surname {
            color: #D11B1B;
        }

        .renex_hero_wrap .hero_texts .subtitle {
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 30px;
            display: inline-block;
        }

.arlo_tm_animation_text_word {
    color: #fff;
}

.renex_down {
    position: absolute;
    z-index: 7;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

    .renex_down .line_wrapper {
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0px auto;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        visibility: visible;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
    }

    .renex_down .line_wrapper {
        width: 1px;
        height: 50px;
        background: none;
        display: block;
    }

        .renex_down .line_wrapper:before {
            content: "";
            background-color: #fff;
            width: 1px;
            height: 50%;
            display: block;
            top: 0;
            -webkit-animation: scroll-down 2s ease-in-out infinite;
            -ms-animation: scroll-down 2s ease-in-out infinite;
            animation: scroll-down 2s ease-in-out infinite;
            ;
        }

@-webkit-keyframes scroll-down {
    0% {
        height: 0;
    }

    50% {
        height: 100%;
    }

    70% {
        height: 100%;
        transform: scaleY(0.5);
        transform-origin: bottom;
    }

    100% {
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

.renex_button {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

    .renex_button a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        background-color: #A37A4E;
        font-weight: 500;
        padding: 10px 30px;
        border-radius: 4px;
        font-family: "Saira";
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#about {
    margin-top: 100vh;
}

.renex_title_holder {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

    .renex_title_holder h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 700;
    }

    .renex_title_holder span {
        font-family: "Saira";
        font-size: 14px;
        color: #ff214f;
        font-weight: 700;
        text-transform: uppercase;
    }

.renex_about {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 89px;
    display: flex;
    margin-bottom: 78px;
}

    .renex_about .left {
        width: 40%;
        height: auto;
    }

        .renex_about .left .image_author {
            position: relative;
        }

            .renex_about .left .image_author:before {
                position: absolute;
                content: "";
                background-color: rgba(255,255,255,.20);
                top: 10px;
                left: 10px;
                bottom: -10px;
                right: -10px;
            }

            .renex_about .left .image_author img {
                position: relative;
            }

        .renex_about .left .main {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-repeat: no-repeat;
            background-size: cover;
        }

    .renex_about .rightpart {
        width: 60%;
        height: auto;
        padding-left: 50px;
        position: relative;
        top: -9px;
    }

        .renex_about .rightpart .about_title {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            margin-bottom: 20px;
        }

            .renex_about .rightpart .about_title p {
                color: #fff;
                font-size: 33px;
                font-weight: 700;
                font-family: "Saira";
                text-transform: uppercase;
                line-height: 1.3;
                margin-bottom: 12px;
            }

                .renex_about .rightpart .about_title p span {
                    color: #ff214f;
                }

        .renex_about .rightpart .text p {
            margin-bottom: 20px;
        }

        .renex_about .rightpart .info_list {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            margin-bottom: 34px;
        }

            .renex_about .rightpart .info_list ul {
                margin: 0px;
                list-style-type: none;
            }

                .renex_about .rightpart .info_list ul li {
                    margin: 0px;
                    width: 50%;
                    float: left;
                }

                    .renex_about .rightpart .info_list ul li .left {
                        min-width: 70px;
                        display: inline-block;
                        color: #fff;
                        font-weight: 500;
                        font-family: "Saira";
                    }

                    .renex_about .rightpart .info_list ul li .right a {
                        text-decoration: none;
                        color: #e0e0e0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }

                        .renex_about .rightpart .info_list ul li .right a:hover {
                            color: #fff;
                        }

.renex_button {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

    .renex_button a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        background-color: #ff214f;
        font-weight: 500;
        padding: 10px 30px;
        border-radius: 5px;
        font-family: "Saira";
    }

/*** 05. Services ***/

.renex_title_holder {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

    .renex_title_holder h3 {
        font-family: "Saira";
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
    }

        .renex_title_holder h3 span {
            position: relative;
            background-color: #ff214f;
            padding: 10px 40px;
            border-radius: 4px;
            display: inline-block;
        }

.renex_services_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 89px;
}

    .renex_services_wrap .service_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 50px;
        position: relative;
    }

        .renex_services_wrap .service_list .list_inner {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            position: relative;
        }

        .renex_services_wrap .service_list .carousel_nav {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .renex_services_wrap .service_list .list_inner:hover .carousel_nav {
            opacity: 1;
            visibility: visible;
        }

        .renex_services_wrap .service_list .carousel_nav .custom_nav a {
            background-color: #171717;
            padding: 22px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
        }

            .renex_services_wrap .service_list .carousel_nav .custom_nav a:hover {
                background-color: #ff214f;
            }

            .renex_services_wrap .service_list .carousel_nav .custom_nav a:after {
                width: 0px;
                height: 0px;
                position: absolute;
                content: '';
                border: 5px solid transparent;
                border-left-color: #fff;
                top: 17px;
                left: 21px;
            }

        .renex_services_wrap .service_list .carousel_nav .custom_nav .prev {
            left: 0px;
            position: absolute;
        }

        .renex_services_wrap .service_list .carousel_nav .custom_nav .next {
            right: 0px;
            position: absolute;
        }

        .renex_services_wrap .service_list .carousel_nav .custom_nav .prev:after {
            transform: rotate(180deg);
            left: 15px;
        }

        .renex_services_wrap .service_list .carousel_nav .custom_nav i {
            color: #1b1b1b;
        }

        .renex_services_wrap .service_list ul {
            margin: 0px;
            list-style-type: none;
        }

            .renex_services_wrap .service_list ul li {
                margin: 0px;
            }

        .renex_services_wrap .service_list .inner {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            position: relative;
            border-radius: 4px;
            padding-top: 40px;
        }

            .renex_services_wrap .service_list .inner .in {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                position: relative;
                padding: 55px 20px 59px 40px;
                background-color: #222;
            }

            .renex_services_wrap .service_list .inner .title {
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 19px;
            }

            .renex_services_wrap .service_list .inner .one {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 3;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .renex_services_wrap .service_list .inner .two {
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background-color: rgba(255,255,255,.20);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                z-index: 3;
            }

            .renex_services_wrap .service_list .inner .three {
                position: absolute;
                right: 0px;
                top: 5px;
                width: 5px;
                bottom: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 3;
            }

            .renex_services_wrap .service_list .inner .four {
                position: absolute;
                left: 0px;
                top: 5px;
                width: 5px;
                bottom: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 3;
            }

            .renex_services_wrap .service_list .inner .text {
                margin-bottom: 33px;
            }

            .renex_services_wrap .service_list .inner .icon_box .svg {
                color: #ff214f;
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
            }

        .renex_services_wrap .service_list .price span {
            background-color: rgba(255,255,255,.05);
            border-radius: 4px;
            padding: 10px 20px;
            font-family: "Saira";
            font-size: 14px;
        }

/*** 06. Portfolio ***/

.renex_portfolio {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 39px;
}

    .renex_portfolio .portfolio_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 90px;
    }

        .renex_portfolio .portfolio_list ul {
            margin: 0px 0px 0px -40px;
            list-style-type: none;
        }

            .renex_portfolio .portfolio_list ul li {
                margin: 0px 0px 50px 0px;
                list-style-type: none;
                padding-left: 40px;
                float: left;
                width: 33.3333%;
            }

                .renex_portfolio .portfolio_list ul li .inner {
                    width: 100%;
                    height: auto;
                    clear: both;
                    float: left;
                    position: relative;
                    overflow: hidden;
                }

                    .renex_portfolio .portfolio_list ul li .inner .image_wrap {
                        width: 100%;
                        height: auto;
                        clear: both;
                        float: left;
                        position: relative;
                    }

                        .renex_portfolio .portfolio_list ul li .inner .image_wrap:before {
                            position: absolute;
                            content: "";
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            background-color: #ff214f;
                            z-index: 8;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            border-top-right-radius: 4px;
                            -webkit-transition: all .5s ease;
                            -moz-transition: all .5s ease;
                            -ms-transition: all .5s ease;
                            -o-transition: all .5s ease;
                            transition: all .5s ease;
                        }

                        .renex_portfolio .portfolio_list ul li .inner .image_wrap:after {
                            position: absolute;
                            content: "";
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            background-color: #fff;
                            z-index: 7;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            border-top-right-radius: 4px;
                            -webkit-transition: all .5s ease;
                            -moz-transition: all .5s ease;
                            -ms-transition: all .5s ease;
                            -o-transition: all .5s ease;
                            transition: all .5s ease;
                            transition-delay: .5s;
                        }

        .renex_portfolio .portfolio_list.renex_appear.load .inner .image_wrap:before {
            left: 100%;
        }

        .renex_portfolio .portfolio_list.renex_appear.load .inner .image_wrap:after {
            left: 100%;
        }

        .renex_portfolio .portfolio_list ul li .inner .image_wrap .image {
            position: relative;
            border-radius: 4px;
        }

            .renex_portfolio .portfolio_list ul li .inner .image_wrap .image img {
                min-width: 100%;
                border-radius: 4px;
            }

            .renex_portfolio .portfolio_list ul li .inner .image_wrap .image .main {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 4px;
            }

        .renex_portfolio .portfolio_list ul li .inner .title {
            position: absolute;
            text-transform: uppercase;
            left: 20px;
            top: 20px;
            z-index: 5;
            background-color: #fff;
            border-radius: 4px;
            padding: 10px 30px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .renex_portfolio .portfolio_list ul li .inner:hover .title {
            opacity: 1;
            visibility: visible;
        }

        .renex_portfolio .portfolio_list ul li .inner .title h3 {
            color: #000;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            line-height: 1;
        }

        .renex_portfolio .portfolio_list ul li .inner .title span {
            color: #000;
            display: inline-block;
            font-family: "Saira";
            text-transform: capitalize;
        }

        .renex_portfolio .portfolio_list ul li .inner .link {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            z-index: 5;
        }

/*** 07. Resume ***/

.renex_resume {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}

    .renex_resume .resume_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 90px;
        position: relative;
        top: 30px;
        opacity: 0;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }

        .renex_resume .resume_list.renex_appear.load {
            top: 0px;
            opacity: 1;
        }

        .renex_resume .resume_list ul {
            margin: 0px 0px 0px -50px;
            list-style-type: none;
        }

            .renex_resume .resume_list ul li {
                margin: 0px 0px 90px 0px;
                width: 33.3333%;
                float: left;
                padding-left: 50px;
            }

        .renex_resume .resume_list .inner {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            position: relative;
            background-color: #222;
            padding: 44px 20px 43px 40px;
            border-radius: 4px;
        }

            .renex_resume .resume_list .inner .one {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 1;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .renex_resume .resume_list .inner .two {
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0px;
                height: 5px;
                background-color: rgba(255,255,255,.20);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                z-index: 1;
            }

            .renex_resume .resume_list .inner .three {
                position: absolute;
                right: 0px;
                top: 5px;
                width: 5px;
                bottom: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 1;
            }

            .renex_resume .resume_list .inner .four {
                position: absolute;
                left: 0px;
                top: 5px;
                width: 5px;
                bottom: 5px;
                background-color: rgba(255,255,255,.20);
                z-index: 1;
            }

            .renex_resume .resume_list .inner .box h3 {
                color: #ff214f;
                display: inline-block;
                font-family: "Saira";
                font-weight: 600;
                line-height: 1;
                margin-bottom: 20px;
            }

            .renex_resume .resume_list .inner .year {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                display: inline-block;
            }

            .renex_resume .resume_list .inner .title {
                color: #fff;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 18px;
            }

/*** 08. Skills ***/

.renex_skills_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 62px;
}

    .renex_skills_wrap .skills_inner {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        display: flex;
    }

        .renex_skills_wrap .skills_inner .left {
            width: 50%;
            height: auto;
            padding-right: 50px;
        }

            .renex_skills_wrap .skills_inner .left h3 {
                color: #fff;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;
            }

        .renex_skills_wrap .skills_inner .right {
            width: 50%;
            height: auto;
            padding-left: 50px;
        }

.renex_progress {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 9px;
}

.progress_inner {
    width: 100%;
    margin-bottom: 19px;
}

    .progress_inner > span {
        margin: 0px 0px 7px 0px;
        width: 100%;
        display: block;
        text-align: left;
        font-family: "Saira";
    }

    .progress_inner span.label {
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .progress_inner span.number {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        float: right;
    }

    .progress_inner .background {
        background: #222;
        width: 100%;
        min-width: 100%;
        position: relative;
        height: 8px;
    }

        .progress_inner .background .bar_in {
            height: 100%;
            background: #333;
            width: 0px;
            overflow: hidden;
        }

        .progress_inner .background .bar {
            width: 0px;
            height: 100%;
        }

            .progress_inner .background .bar.open {
                -webkit-animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* Safari 4+ */
                -moz-animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* Fx 5+ */
                animation: wow 3s cubic-bezier(0.165, 0.840, 0.440, 1.000); /* IE 10+ */
                width: 100%;
            }

@-webkit-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/*** 09. Team ***/

.renex_team {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 39px;
}

    .renex_team .team_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 90px;
    }

        .renex_team .team_list ul {
            margin: 0px 0px 0px -50px;
            list-style-type: none;
        }

            .renex_team .team_list ul li {
                margin: 0px 0px 50px 0px;
                width: 33.3333%;
                float: left;
                padding-left: 50px;
            }

                .renex_team .team_list ul li .inner {
                    width: 100%;
                    height: auto;
                    clear: both;
                    float: left;
                    position: relative;
                    overflow: hidden;
                }

                    .renex_team .team_list ul li .inner .image {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }

                    .renex_team .team_list ul li .inner:before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        background-color: #ff214f;
                        z-index: 8;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                        -webkit-transition: all .5s ease;
                        -moz-transition: all .5s ease;
                        -ms-transition: all .5s ease;
                        -o-transition: all .5s ease;
                        transition: all .5s ease;
                    }

                    .renex_team .team_list ul li .inner:after {
                        position: absolute;
                        content: "";
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        width: 100%;
                        background-color: #fff;
                        z-index: 7;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        border-top-right-radius: 4px;
                        -webkit-transition: all .5s ease;
                        -moz-transition: all .5s ease;
                        -ms-transition: all .5s ease;
                        -o-transition: all .5s ease;
                        transition: all .5s ease;
                        transition-delay: .5s;
                    }

        .renex_team .team_list.renex_appear.load .inner:before {
            left: 100%;
        }

        .renex_team .team_list.renex_appear.load .inner:after {
            left: 100%;
        }

        .renex_team .team_list ul li .inner .image img {
            min-width: 100%;
            border-radius: 4px;
        }

        .renex_team .team_list ul li .inner .image .main {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 4px;
        }

        .renex_team .team_list ul li .inner .texts {
            position: absolute;
            z-index: 5;
            top: 20px;
            left: 20px;
            background-color: #fff;
            padding: 11px 30px 3px 30px;
            border-radius: 4px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

            .renex_team .team_list ul li .inner .texts h3 {
                color: #000;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                line-height: 1;
            }

            .renex_team .team_list ul li .inner .texts span {
                color: #000;
                display: block;
                font-family: "Saira";
                text-transform: capitalize;
                font-size: 14px;
            }

        .renex_team .team_list ul li .inner:hover .texts {
            opacity: 1;
            visibility: visible;
        }

/*** 10. Pricing ***/

.renex_pricing {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 39px;
}

    .renex_pricing .pricing_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 90px;
        position: relative;
        top: 30px;
        opacity: 0;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }

        .renex_pricing .pricing_list.renex_appear.load {
            top: 0px;
            opacity: 1;
        }

        .renex_pricing .pricing_list > ul {
            margin: 0px 0px 0px -50px;
            list-style-type: none;
        }

            .renex_pricing .pricing_list > ul > li {
                margin: 0px 0px 50px 0px;
                float: left;
                width: 33.3333%;
                padding-left: 50px;
            }

                .renex_pricing .pricing_list > ul > li .inner {
                    width: 100%;
                    height: auto;
                    clear: both;
                    float: left;
                    position: relative;
                    text-align: center;
                    background-color: #222;
                }

                    .renex_pricing .pricing_list > ul > li .inner .one {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        left: 0px;
                        height: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    .renex_pricing .pricing_list > ul > li .inner .two {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        height: 5px;
                        background-color: rgba(255,255,255,.20);
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        z-index: 1;
                    }

                    .renex_pricing .pricing_list > ul > li .inner .three {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        width: 5px;
                        bottom: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                    }

                    .renex_pricing .pricing_list > ul > li .inner .four {
                        position: absolute;
                        left: 0px;
                        top: 5px;
                        width: 5px;
                        bottom: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                    }

                    .renex_pricing .pricing_list > ul > li .inner .in {
                        width: 100%;
                        height: auto;
                        clear: both;
                        float: left;
                        position: relative;
                        overflow: hidden;
                        padding: 50px 20px 43px 20px;
                    }

        .renex_pricing .pricing_list ul li .inner .icon {
            width: 100%;
            float: left;
            margin-bottom: 7px;
        }

        .renex_pricing .pricing_list ul li .inner .svg {
            color: #ff214f;
            width: 30px;
            height: 40px;
        }

        .renex_pricing .pricing_list ul li .inner .title {
            color: #ff214f;
            font-family: "Saira";
            font-weight: 600;
            line-height: 1;
            display: inline-block;
        }

        .renex_pricing .pricing_list ul li .inner .price {
            font-size: 30px;
            font-weight: 600;
            color: #fff;
            font-family: "Saira";
        }

            .renex_pricing .pricing_list ul li .inner .price span {
                font-size: 20px;
            }

        .renex_pricing .pricing_list ul li .inner ul {
            margin: 0px 0px 20px 0px;
            list-style-type: none;
        }

            .renex_pricing .pricing_list ul li .inner ul li {
                margin: 0px;
            }

    .renex_pricing.pricing {
        padding-top: 25px;
    }

        .renex_pricing.pricing a {
            padding: 3px 25px;
        }

    .renex_pricing .pricing_list > ul > li .inner .shape {
        position: absolute;
        z-index: 5;
        top: -5px;
        left: -5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 120px 120px 0 0;
        border-color: #ff214f transparent transparent transparent;
    }

    .renex_pricing .pricing_list > ul > li .inner .recommend {
        position: absolute;
        color: #fff;
        top: 26px;
        left: -4px;
        transform: rotate(-45deg);
        z-index: 6;
        font-size: 10px;
        text-transform: uppercase;
        font-family: "Saira";
        font-weight: 600;
    }

/*** 11. News ***/

.renex_news {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 89px;
}

    .renex_news .news_list {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 90px;
    }

        .renex_news .news_list .list_inner {
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            position: relative;
        }

            .renex_news .news_list .list_inner .carousel_nav {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

            .renex_news .news_list .list_inner:hover .carousel_nav {
                opacity: 1;
                visibility: visible;
            }

            .renex_news .news_list .list_inner .carousel_nav .custom_nav a {
                background-color: #171717;
                padding: 22px;
                border-radius: 3px;
                display: inline-block;
                position: relative;
                -webkit-transition: all .2s ease;
                -moz-transition: all .2s ease;
                -ms-transition: all .2s ease;
                -o-transition: all .2s ease;
                transition: all .2s ease;
            }

                .renex_news .news_list .list_inner .carousel_nav .custom_nav a:hover {
                    background-color: #ff214f;
                }

                .renex_news .news_list .list_inner .carousel_nav .custom_nav a:after {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    content: '';
                    border: 5px solid transparent;
                    border-left-color: #fff;
                    top: 17px;
                    left: 21px;
                }

            .renex_news .news_list .list_inner .carousel_nav .custom_nav .prev {
                left: 0px;
                position: absolute;
            }

            .renex_news .news_list .list_inner .carousel_nav .custom_nav .next {
                right: 0px;
                position: absolute;
            }

            .renex_news .news_list .list_inner .carousel_nav .custom_nav .prev:after {
                transform: rotate(180deg);
                left: 15px;
            }

            .renex_news .news_list .list_inner .carousel_nav .custom_nav i {
                color: #1b1b1b;
            }

        .renex_news .news_list ul {
            margin: 0px;
            list-style-type: none;
        }

            .renex_news .news_list ul li {
                margin: 0px;
            }

                .renex_news .news_list ul li .inner {
                    width: 100%;
                    height: auto;
                    clear: both;
                    float: left;
                    position: relative;
                    padding: 5px;
                }

                    .renex_news .news_list ul li .inner .one {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        left: 0px;
                        height: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    .renex_news .news_list ul li .inner .two {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        left: 0px;
                        height: 5px;
                        background-color: rgba(255,255,255,.20);
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                        z-index: 1;
                    }

                    .renex_news .news_list ul li .inner .three {
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        width: 5px;
                        bottom: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                    }

                    .renex_news .news_list ul li .inner .four {
                        position: absolute;
                        left: 0px;
                        top: 5px;
                        width: 5px;
                        bottom: 5px;
                        background-color: rgba(255,255,255,.20);
                        z-index: 1;
                    }

                    .renex_news .news_list ul li .inner .image {
                        position: relative;
                    }

                        .renex_news .news_list ul li .inner .image a {
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                        }

                        .renex_news .news_list ul li .inner .image img {
                            min-width: 100%;
                        }

                        .renex_news .news_list ul li .inner .image .main {
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                        }

                    .renex_news .news_list ul li .inner .texts {
                        width: 100%;
                        height: auto;
                        clear: both;
                        float: left;
                        background-color: #222;
                        padding: 40px 40px 38px 40px;
                    }

                        .renex_news .news_list ul li .inner .texts .date a {
                            text-decoration: none;
                            color: #fff;
                            font-weight: 600;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                        }

                        .renex_news .news_list ul li .inner .texts .def {
                            margin-bottom: 28px;
                        }

                        .renex_news .news_list ul li .inner .texts .date a:hover {
                            color: #ff214f;
                        }

                        .renex_news .news_list ul li .inner .texts .title h3 {
                            line-height: 1;
                            margin-bottom: 21px;
                        }

                            .renex_news .news_list ul li .inner .texts .title h3 a {
                                color: #fff;
                                text-decoration: none;
                                text-transform: uppercase;
                                font-size: 20px;
                                font-weight: 600;
                                margin-bottom: 18px;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                            }

                                .renex_news .news_list ul li .inner .texts .title h3 a:hover {
                                    color: #ff214f;
                                }

                    .renex_news .news_list ul li .inner .modal_texts {
                        display: none;
                    }

.renex_modal_news {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    transform: scale(1,0);
    transition: all .4s ease, opacity .2s ease;
    background-color: #030303;
    cursor: none;
    opacity: 0;
}

    .renex_modal_news.opened {
        transform: scale(1,1);
        opacity: 1;
        transition: all .4s ease, opacity .4 ease;
    }

    .renex_modal_news .modal_main {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding: 100px 0px;
    }

        .renex_modal_news .modal_main .def {
            display: none;
        }

        .renex_modal_news .modal_main .renex_button {
            display: none;
        }

        .renex_modal_news .modal_main .image {
            position: relative;
            margin-bottom: 37px;
        }

            .renex_modal_news .modal_main .image .main {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

        .renex_modal_news .modal_main .texts .date a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

        .renex_modal_news .modal_main .texts .date {
            margin-bottom: 5px;
        }

            .renex_modal_news .modal_main .texts .date a:hover {
                color: #ff214f;
            }

        .renex_modal_news .modal_main .title h3 {
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 30px;
        }

#floatingmes {
    position: absolute;
    color: #fff;
    z-index: 111122222;
    font-family: "Saira";
    display: none;
}

/*** 12. Contact ***/

.renex_contact {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 100px;
}

    .renex_contact .contact_inner {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 75px;
        display: flex;
    }

        .renex_contact .contact_inner .left {
            width: 40%;
            height: auto;
        }

            .renex_contact .contact_inner .left ul {
                margin: 0px;
                list-style-type: none;
            }

                .renex_contact .contact_inner .left ul li {
                    margin: 0px 0px 10px 0px;
                    width: 100%;
                    float: left;
                    list-style-type: none;
                }

                    .renex_contact .contact_inner .left ul li .inner {
                        width: 100%;
                        height: auto;
                        clear: both;
                        float: left;
                        position: relative;
                    }

                        .renex_contact .contact_inner .left ul li .inner .svg {
                            position: absolute;
                            left: 0px;
                            top: 4px;
                            color: #ff214f;
                            width: 20px;
                            height: 20px;
                        }

                        .renex_contact .contact_inner .left ul li .inner span {
                            padding-left: 35px;
                        }

                            .renex_contact .contact_inner .left ul li .inner span a {
                                text-decoration: none;
                                color: #222;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                -ms-transition: all .3s ease;
                                -o-transition: all .3s ease;
                                transition: all .3s ease;
                            }

                                .renex_contact .contact_inner .left ul li .inner span a:hover {
                                    color: #e0e0e0;
                                }

        .renex_contact .contact_inner .location {
        }

        .renex_contact .contact_inner .right {
            width: 60%;
            height: auto;
            position: relative;
            top: -10px;
        }

            .renex_contact .contact_inner .right .first_row {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                margin-bottom: 15px;
            }

                .renex_contact .contact_inner .right .first_row ul {
                    margin: 0px 0px 0px -20px;
                    list-style-type: none;
                }

                    .renex_contact .contact_inner .right .first_row ul li {
                        margin: 0px 0px 25px 0px;
                        width: 50%;
                        float: left;
                        padding-left: 20px;
                    }

                        .renex_contact .contact_inner .right .first_row ul li input {
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid #e0e0e0;
                            width: 100%;
                            padding: 0px 20px 0px 0px !important;
                            color: #222;
                            -webkit-transition: all .3s ease;
                            -moz-transition: all .3s ease;
                            -ms-transition: all .3s ease;
                            -o-transition: all .3s ease;
                            transition: all .3s ease;
                        }

                            .renex_contact .contact_inner .right .first_row ul li input:focus {
                                outline: none;
                                background-color: transparent;
                                border-bottom-color: #fff;
                            }

            .renex_contact .contact_inner .right .second_row {
                width: 100%;
                height: auto;
                float: left;
                clear: both;
                margin-bottom: 20px;
            }

            .renex_contact .contact_inner .right textarea {
                border: none;
                background-color: transparent;
                border-bottom: 1px solid #e0e0e0;
                width: 100%;
                resize: none;
                padding: 0px 20px 0px 0px !important;
                color: #222;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

                .renex_contact .contact_inner .right textarea:focus {
                    outline: none;
                    background-color: transparent;
                    border-bottom-color: #fff;
                }

            .renex_contact .contact_inner .right .first_row ul li input.warning {
                border-bottom-color: #F32B2F;
            }

            .renex_contact .contact_inner .right textarea.warning {
                border-bottom-color: #F32B2F;
            }

.returnmessage {
    position: absolute;
    bottom: 20px;
    left: 150px;
    color: #7662F0;
    font-weight: 600;
}

.renex_footer {
    position: relative;
    background-color: #222;
    width: 100%;
    float: left;
    padding: 60px 0px;
}

    .renex_footer .footer_inner {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .renex_footer .left p {
        color: #fff;
        font-family: "Saira";
    }

    .renex_footer .social_footer ul {
        margin: 0px;
        list-style-type: none;
    }

        .renex_footer .social_footer ul li {
            margin: 0px 10px 0px 0px;
            display: inline-block;
        }

            .renex_footer .social_footer ul li a {
                text-decoration: none;
                color: #fff;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

                .renex_footer .social_footer ul li a:hover {
                    color: #ff214f;
                }

.renex_rightpart .main_content {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    z-index: 2;
}



.renex_hero_wrap_video {
    width: 100%;
    height: 100vh;
    position: relative;
}

.renex_section.player {
    margin-bottom: 100px;
}

.renex_hero_wrap_video .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
}

.renex_hero_wrap_video .container {
    height: 100%;
}

.renex_hero_wrap_video .hero_texts {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    padding: 0px 20px;
}

    .renex_hero_wrap_video .hero_texts .hero_image {
        position: relative;
        width: 100%;
        max-width: 180px;
        margin: 0px auto;
        height: 180px;
        margin-bottom: 45px;
    }

        .renex_hero_wrap_video .hero_texts .hero_image:before {
            position: absolute;
            content: "";
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
            background-color: rgba(255,255,255,.05);
            border-radius: 100%;
        }

        .renex_hero_wrap_video .hero_texts .hero_image img {
            min-width: 100%;
            border-radius: 100%;
        }

        .renex_hero_wrap_video .hero_texts .hero_image .image {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 100%;
        }

    .renex_hero_wrap_video .hero_texts h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 15px;
        position: relative;
        line-height: 1;
    }

    .renex_hero_wrap_video .hero_texts .surname {
        color: #ff214f;
    }

    .renex_hero_wrap_video .hero_texts .subtitle {
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 30px;
        display: inline-block;
    }

.glitch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/hero/1.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    z-index: -1 !important;
    opacity: 1;
    transform: scale(1);
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
}

.renex_hero_wrap.intro {
    left: 0px;
    right: 0px;
}

.renex_hero_wrap .hero_texts.intro {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    z-index: 3;
}

.renex_hero_wrap .hero_texts h3 {
    font-size: 70px;
    color: #30578A;
}

.renex_hero_wrap .hero_texts.intro .subtitle {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 22px;
    color: #fff;
}

.renex_hero_wrap .hero_texts.intro .name span {
    color: #ff214f;
}

.renex_button.intro {
    padding-top: 26px;
}

.renex_intro_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

    .renex_intro_inner .title {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        text-align: center;
        margin-bottom: 100px;
    }

        .renex_intro_inner .title h3 {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 19px;
        }

    .renex_intro_inner > ul {
        margin: 0px 0px 0px -60px;
        list-style-type: none;
        position: relative;
        top: 30px;
        opacity: 0;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
        transition: all .6s ease;
    }

        .renex_intro_inner > ul.renex_appear.load {
            top: 0px;
            opacity: 1;
        }

        .renex_intro_inner > ul > li {
            margin: 0px 0px 60px 0px;
            width: 33.3333%;
            float: left;
            padding-left: 60px;
        }

            .renex_intro_inner > ul > li > .inner {
                width: 100%;
                height: auto;
                clear: both;
                float: left;
                position: relative;
                box-shadow: 0px 0px 10px 1px rgba(255,255,255,.2);
            }

                .renex_intro_inner > ul > li > .inner .image {
                    position: relative;
                }

                    .renex_intro_inner > ul > li > .inner .image img {
                        min-width: 100%;
                    }

                    .renex_intro_inner > ul > li > .inner .image .main {
                        position: absolute;
                        top: 0px;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }

                .renex_intro_inner > ul > li > .inner .name {
                    width: 100%;
                    height: auto;
                    float: left;
                    text-align: center;
                    background-color: #0a0a0a;
                }

                    .renex_intro_inner > ul > li > .inner .name a {
                        text-decoration: none;
                        color: #fff;
                        font-family: "saira";
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 15px;
                        display: inline-block;
                        padding: 13px 0px;
                    }

                .renex_intro_inner > ul > li > .inner .link {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                }

    .renex_intro_inner .features {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        padding-top: 63px;
    }

        .renex_intro_inner .features .title {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 123px;
        }

        .renex_intro_inner .features ul {
            margin: 0px 0px 0px -60px;
            list-style-type: none;
            position: relative;
            top: 30px;
            opacity: 0;
            -webkit-transition: all .6s ease;
            -moz-transition: all .6s ease;
            -ms-transition: all .6s ease;
            -o-transition: all .6s ease;
            transition: all .6s ease;
        }

            .renex_intro_inner .features ul.renex_appear.load {
                opacity: 1;
                top: 0px;
            }

            .renex_intro_inner .features ul li {
                margin: 0px 0px 60px 0px;
                width: 33.3333%;
                float: left;
                padding-left: 60px;
            }

                .renex_intro_inner .features ul li .inner {
                    width: 100%;
                    height: auto;
                    clear: both;
                    float: left;
                    position: relative;
                    box-shadow: 0px 0px 10px 1px rgba(255,255,255,.2);
                    text-align: center;
                    padding: 50px 20px;
                }

                    .renex_intro_inner .features ul li .inner .svg {
                        width: 45px;
                        height: 45px;
                        color: #ff214f;
                        margin-bottom: 20px;
                    }

                    .renex_intro_inner .features ul li .inner .subtitle {
                        color: #fff;
                        font-family: "saira";
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 15px;
                    }

.renex_footer.intro {
    padding-left: 100px;
    padding-right: 100px;
}

.renex_down.intro {
    left: 50%;
    transform: translateX(-50%);
}

::-webkit-input-placeholder { /* Edge */
    color: #222;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #222;
}

::placeholder {
    color: #222;
}
