﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Public.master.cs" Inherits="Ramix.Public" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="OPKnBLpiGR0Acdvci2ueBDkPyx8jiV8bhipPOs4hwHI" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="473133040418-hne3ps2lqbdilg261bacmmf8h96eti13.apps.googleusercontent.com" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Saira:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300i,400,400i,600,600i,700&amp;display=swap" rel="stylesheet">
    <!-- /Fonts -->

    <!-- Styles -->
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- /Styles -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>
        <asp:ContentPlaceHolder ID="cpTitle" runat="server">
        </asp:ContentPlaceHolder>
        <asp:Literal Text=" | Ramix" runat="server" />
    </title>
    <style>
        .ohHide {
            display: none;
        }

        .gallery_zoom li .inner, .gallery_zoom li .inner .image_wrap .image {
            width: 300px;
            height: 300px;
        }
    </style>
    <asp:ContentPlaceHolder ID="cpHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="publicForm" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
            <Services>
                <asp:ServiceReference Path="WebService.asmx" />
            </Services>
        </asp:ScriptManager>
        <!-- Preloader -->
        <div class="renex_loader-wrapperr">
            <div class="loaderr"></div>
        </div>
        <!-- /Preloader -->

        <!-- Wrapper All -->
        <div class="renex_wrap_all">
            <div id="floatingmes">Close</div>
            <!-- Modal News -->
            <div class="renex_modal_news scrollable">
                <div class="container">
                    <div class="modal_main">
                    </div>
                </div>
            </div>
            <!-- /Modal News -->


            <div class="renex_leftpart">
                <div class="inner">
                    <div class="logo">
                        <a href="#">
                            <img src="images/logo.png" alt="" /></a>
                    </div>
                    <div class="menu scrollable">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li class="ohHide"><a href="#products">Products</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="renex_rightpart">
                <div class="main_content">
                    <asp:ContentPlaceHolder ID="cpContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <div class="renex_footer">
                    <div class="container">
                        <div class="footer_inner">
                            <div class="left">
                                <p>
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                    . All Rights are Reserved
                                </p>
                            </div>
                            <div class="social_footer ohHide">
                                <ul>
                                    <li><a href="#"><i class="xcon-facebook"></i></a></li>
                                    <li><a href="#"><i class="xcon-twitter"></i></a></li>
                                    <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                    <li><a href="#"><i class="xcon-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /Wrapper All -->

        <!-- Scripts -->
        <script src="js/jquery.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/init.js"></script>
        <!-- /Scripts -->

        <asp:ContentPlaceHolder ID="cpScript" runat="server">
        </asp:ContentPlaceHolder>
    </form>

</body>
</html>
