﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Register.aspx.cs" Inherits="Ramix.Register" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">


    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Register | Ramix</title>


    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />


    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="#" />


    <!--  Social tags      -->
    <meta name="keywords" content="Ramix, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, material dashboard bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, material design, material dashboard bootstrap 4 dashboard">
    <meta name="description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design.">


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Material Dashboard PRO by Ramix">
    <meta itemprop="description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design.">

    <meta itemprop="image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg">


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Ramix">

    <meta name="twitter:description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg">


    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Ramix" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="Admin.aspx" />
    <meta property="og:image" content="../../../../s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design." />
    <meta property="og:site_name" content="Ramix" />




    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="assets/css/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />

    <!-- CSS Files -->





    <link href="assets/css/material-dashboard.min40a0.css?v=2.0.2" rel="stylesheet" />





    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/demo/demo.css" rel="stylesheet" />
    <link href="assets/css/adminStyles.css" rel="stylesheet" />

    <style>
        #chkAgree {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(0,0,0,.54);
            overflow: hidden;
            z-index: 1;
            border-radius: 3px;
            background-color: rgba(0,0,0,0);
        }

        .validatorLabel {
            margin-left: 55px;
            color: red;
        }

        .alert.alert-success {
            text-align: center;
        }

        #correctReg {
            display: none;
        }
    </style>

</head>
<body class="off-canvas-sidebar">
    <form id="registerForm" runat="server">
        <!-- Extra details for Live View on GitHub Pages -->

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white" id="navigation-example">
            <div class="container">
                <div class="navbar-wrapper">



                    <a class="navbar-brand" href="#pablo">Ramix Pharma</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="Admin.aspx" class="nav-link">
                                <i class="material-icons">dashboard</i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item  active ">
                            <a href="Register.aspx" class="nav-link">
                                <i class="material-icons">person_add</i>
                                Register
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="Login.aspx" class="nav-link">
                                <i class="material-icons">fingerprint</i>
                                Login
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="#" class="nav-link">
                                <i class="material-icons">lock_open</i>
                                Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="wrapper wrapper-full-page">
            <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login2.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-signup">
                                <h2 class="card-title text-center">Register</h2>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 ml-auto">
                                            <div class="info info-horizontal">
                                                <div class="icon icon-rose">
                                                    <i class="material-icons">timeline</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title">Marketing</h4>
                                                    <p class="description">
                                                        We've created the marketing campaign of the website. It was a very interesting collaboration.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="info info-horizontal">
                                                <div class="icon icon-primary">
                                                    <i class="material-icons">code</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title">Fully Coded in HTML5</h4>
                                                    <p class="description">
                                                        We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="info info-horizontal">
                                                <div class="icon icon-info">
                                                    <i class="material-icons">group</i>
                                                </div>
                                                <div class="description">
                                                    <h4 class="info-title">Built Audience</h4>
                                                    <p class="description">
                                                        There is also a Fully Customizable CMS Admin Dashboard for this product.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 mr-auto">
                                            <div class="social text-center ohHide">
                                                <button class="btn btn-just-icon btn-round btn-twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </button>
                                                <button class="btn btn-just-icon btn-round btn-dribbble">
                                                    <i class="fa fa-dribbble"></i>
                                                </button>
                                                <button class="btn btn-just-icon btn-round btn-facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </button>
                                                <h4 class="mt-3">or be classical </h4>
                                            </div>
                                            <div class="text-center">
                                                <div class="alert alert-danger" runat="server" id="wrong">
                                                    <p>Sorry there is a user with the same email. please <a href="login.aspx">Login</a> or try again with a different email</p>
                                                </div>
                                                <div class="alert alert-success" runat="server" id="correctReg" role="alert">
                                                    Your registration was successful! wait for confirmation by your manager
                                                </div>
                                            </div>
                                            <div class="form">

                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">face</i>
                                                            </span>
                                                        </div>
                                                        <asp:TextBox placeholder="First Name..." CssClass="form-control" ID="txtFName" runat="server" />

                                                    </div>
                                                    <asp:RequiredFieldValidator Display="Dynamic" ErrorMessage="First Name is required" CssClass="validatorLabel" ControlToValidate="txtFName" runat="server" />
                                                </div>
                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">face</i>
                                                            </span>
                                                        </div>
                                                        <asp:TextBox placeholder="Last Name..." CssClass="form-control" ID="txtLName" runat="server" />
                                                    </div>
                                                </div>
                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">mail</i>
                                                            </span>
                                                        </div>
                                                        <asp:TextBox CssClass="form-control" placeholder="Email..." ID="txtEmail" TextMode="Email" runat="server" />
                                                    </div>
                                                    <asp:RequiredFieldValidator Display="Dynamic" ErrorMessage="Email is required" CssClass="validatorLabel" ControlToValidate="txtEmail" runat="server" />
                                                </div>
                                                <div class="form-group has-default">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="material-icons">lock_outline</i>
                                                            </span>
                                                        </div>
                                                        <asp:TextBox placeholder="Password..." CssClass="form-control" TextMode="Password" ID="txtPass" runat="server" />
                                                    </div>
                                                    <asp:RequiredFieldValidator Display="Dynamic" ErrorMessage="password is required" CssClass="validatorLabel" ControlToValidate="txtPass" runat="server" />
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <span class="form-check-sign">
                                                            <asp:CheckBox Text="" CssClass="check" ID="chkAgree" runat="server" />
                                                        </span>
                                                        I agree to the
                      <a href="#something">terms and conditions</a>.
                                                    </label>
                                                </div>
                                                <div class="text-center">
                                                    <a href="#pablo" class=""></a>
                                                    <asp:Button Text="Get Started" CssClass="btn btn-primary btn-round mt-4" ID="btnRegister" OnClick="btnRegister_Click" runat="server" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <nav class="float-left">
                            <ul>
                                <li>
                                    <a href="Default.aspx">Ramix
                                    </a>
                                </li>
                                <li>
                                    <a href="Default.aspx">About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Licenses
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright float-right">
                            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
                            , made with <i class="material-icons">favorite</i> by
            <a href="Default.aspx" target="_blank">Ramix</a> for a better web.
                        </div>
                    </div>
                </footer>

            </div>


        </div>
        <!--   Core JS Files   -->
        <script src="../../assets/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="../../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>

        <script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>


        <!-- Plugin for the momentJs  -->
        <script src="../../assets/js/plugins/moment.min.js"></script>

        <!--  Plugin for Sweet Alert -->
        <script src="../../assets/js/plugins/sweetalert2.js"></script>

        <!-- Forms Validations Plugin -->
        <script src="../../assets/js/plugins/jquery.validate.min.js"></script>

        <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>

        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>

        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="../../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>

        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
        <script src="../../assets/js/plugins/jquery.dataTables.min.js"></script>

        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="../../assets/js/plugins/bootstrap-tagsinput.js"></script>

        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="../../assets/js/plugins/jasny-bootstrap.min.js"></script>

        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="../../assets/js/plugins/fullcalendar.min.js"></script>

        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="../../assets/js/plugins/jquery-jvectormap.js"></script>

        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="../../assets/js/plugins/nouislider.min.js"></script>

        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="assets/js/cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

        <!-- Library for adding dinamically elements -->
        <script src="../../assets/js/plugins/arrive.min.js"></script>


        <!--  Google Maps Plugin    -->

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="assets/js/buttons.js"></script>


        <!-- Chartist JS -->
        <script src="../../assets/js/plugins/chartist.min.js"></script>

        <!--  Notifications Plugin    -->
        <script src="../../assets/js/plugins/bootstrap-notify.js"></script>





        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="../../assets/js/material-dashboard.min40a0.js?v=2.0.2" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="../../assets/demo/demo.js"></script>
        <script>
            $(document).ready(function () {
                $().ready(function () {
                    $sidebar = $('.sidebar');

                    $sidebar_img_container = $sidebar.find('.sidebar-background');

                    $full_page = $('.full-page');

                    $sidebar_responsive = $('body > .navbar-collapse');

                    window_width = $(window).width();

                    fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                    if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                            $('.fixed-plugin .dropdown').addClass('open');
                        }

                    }

                    $('.fixed-plugin a').click(function (event) {
                        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                        if ($(this).hasClass('switch-trigger')) {
                            if (event.stopPropagation) {
                                event.stopPropagation();
                            } else if (window.event) {
                                window.event.cancelBubble = true;
                            }
                        }
                    });

                    $('.fixed-plugin .active-color span').click(function () {
                        $full_page_background = $('.full-page-background');

                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-color', new_color);
                        }

                        if ($full_page.length != 0) {
                            $full_page.attr('filter-color', new_color);
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.attr('data-color', new_color);
                        }
                    });

                    $('.fixed-plugin .background-color .badge').click(function () {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('background-color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-background-color', new_color);
                        }
                    });

                    $('.fixed-plugin .img-holder').click(function () {
                        $full_page_background = $('.full-page-background');

                        $(this).parent('li').siblings().removeClass('active');
                        $(this).parent('li').addClass('active');


                        var new_image = $(this).find("img").attr('src');

                        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            $sidebar_img_container.fadeOut('fast', function () {
                                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                                $sidebar_img_container.fadeIn('fast');
                            });
                        }

                        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $full_page_background.fadeOut('fast', function () {
                                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                                $full_page_background.fadeIn('fast');
                            });
                        }

                        if ($('.switch-sidebar-image input:checked').length == 0) {
                            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                        }
                    });

                    $('.switch-sidebar-image input').change(function () {
                        $full_page_background = $('.full-page-background');

                        $input = $(this);

                        if ($input.is(':checked')) {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar_img_container.fadeIn('fast');
                                $sidebar.attr('data-image', '#');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page_background.fadeIn('fast');
                                $full_page.attr('data-image', '#');
                            }

                            background_image = true;
                        } else {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar.removeAttr('data-image');
                                $sidebar_img_container.fadeOut('fast');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page.removeAttr('data-image', '#');
                                $full_page_background.fadeOut('fast');
                            }

                            background_image = false;
                        }
                    });

                    $('.switch-sidebar-mini input').change(function () {
                        $body = $('body');

                        $input = $(this);

                        if (md.misc.sidebar_mini_active == true) {
                            $('body').removeClass('sidebar-mini');
                            md.misc.sidebar_mini_active = false;

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                        } else {

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                            setTimeout(function () {
                                $('body').addClass('sidebar-mini');

                                md.misc.sidebar_mini_active = true;
                            }, 300);
                        }

                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function () {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);

                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function () {
                            clearInterval(simulateWindowResize);
                        }, 1000);

                    });
                });
            });
        </script>






        <!-- Sharrre libray -->
        <script src="../../assets/demo/jquery.sharrre.js"></script>

        <script>
            $(document).ready(function () {
                demo.checkFullPageBackgroundImage();
            });
        </script>

    </form>
</body>
</html>
